* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Italic'), local('Gotham-Pro-Italic'),
        url('../fonts/GothamPro-Italic.woff2') format('woff2'),
        url('../fonts/GothamPro-Italic.woff') format('woff'),
        url('../fonts/GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Medium'), local('Gotham-Pro-Medium'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ------common styles------ */

body {
    font-family: 'Gotham Pro';
    background-color: #0c5f7c;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}


.container {
    margin: 0 120px;
}

.section__title {
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    color: #444446;
}

.btn-style {
    background-color: #ffffff;
    color: #ff7423;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    border-radius: 3px;
    border: solid 1px #ff7423;
    cursor: pointer;
}

.btn-style:hover {
    color: #ff8943;
    border: solid 1px #ff8943;
}

.btn-style:active {
    color: #ffffff;
    border: solid 1px #ff7423;
    background-color: #ff7423;
}

.btn-style:disabled {
    color: #b7b7b7;
    border: solid 1px #e2e2e2;
    background-color: #f8f8f8;
}

.btn-fill-style {
    background-color: #ff7423;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    letter-spacing: 0.25px;   
    text-transform: uppercase;
    border: solid 1px #ff7423;
    cursor: pointer;
}

.btn-fill-style:hover {
    border: solid 1px #ff7423;
    background-color: #ff8943;
}

.btn-fill-style:active {
    color: #ffffff;
    border: solid 1px #ff7423;
    background-color: #ff7423;
}

.btn-fill-style:disabled {
    color: #838383;
    border: solid 1px #e2e2e2;
    background-color: #e2e2e2;
}

/* ---------------MAIN PAGE--------------- */

.homepage {
    background-color: #ffffff;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 18px;
    background-color: #ffffff;
}

.header__logo {
    width: 120px;
    height: 60px;
}

.header__list {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.25px;
}

.header__list li:not(:first-child) {
    margin-top: 10px;
    margin-left: 24px;
}

.header__list li {
    display: inline-block;
}

.header__list a {
    color: #0c5f7c;
}

.header__list a:hover {
    color: #ff7423;
}

.header__select {
    margin-left: 20px;
}

.header__button {
    padding: 12px 16px;
}

.header__icon {
    position: absolute;
    width: 20px;
    right: 0;
    cursor: pointer;
}

.header__icon-burger {
    display: none;
}

.header__icon-closed {
    display: none;
}

.header__select-menu {
    display: none;
    position: absolute;
    top: 83px;
    right: 0;
    padding: 8px 0;  
    background-color: #ffffff;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                0 8px 10px 1px rgba(0, 0, 0, 0.14);
}

.header__select-block {
    display: flex;
    align-items: center;
    padding: 15px 17px;
    background-color: #ffffff;
}

.header__select-block:hover {
    background-color: #f5f5f5;
}

.header__select-svg {
    width: 30px;
}

.header__select-block:hover .header__select-svg {
    stroke: #ff7423; 
    fill: #ff7423;
    transition: all ease 0.3s;
}

.header__select-text {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.43;
    color: #444446;
}

.header__owner-menu {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__owner-greeting {
    margin-bottom: 16px;
    font-size: 16px;
    letter-spacing: -0.25px;
    color: #7e7e7e;
}

.header__owner-log-out {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.22px;
    color: #0c5f7c;
}

.header__owner-log-out:hover {
    color: #208EB4;
    text-decoration: underline;
}

.main {
    position: relative;
}

.mobile-menu-block {
    position: absolute;
    display: none;
    width: 100%;
    padding: 25px;
    text-align: left;
    border-top: 1px solid lightgray;
    background: #ffffff;
    visibility: hidden;
    left: -100%;
    transition-duration: 1s;
}

.mobile-menu-toggle {
    visibility: visible;
    left: 0;
    transition-duration: 1s;
}

.mobile-menu-list li:not(:first-child) {
    padding-top: 22px;
}

.mobile-menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.29px;
    color: #0c5f7c;
}

.mobile-menu-item:hover {
    color: #ff7423;
}

.main__section {
    padding: 56px 0 59px;
    color: #ffffff;
    background: url("../img/main-img.jpeg") 50% 100% no-repeat;
    background-size: cover;
}

.main__title {
    font-size: 62px;
    font-weight: bold;
    line-height: 1.19;
    margin-bottom: 26px;
}

.main__description {
    margin-bottom: 43px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 28px;
}

.main__btn {
    display: inline-block;
    padding: 14px 28px;
}

.services {
    padding: 83px 0 62px;
    background-color: #f3f9fe;
}

.services__info_wrap {
    width: 368px;
    margin: 15px;
    padding: 24px;
    border-radius: 2px;
    background-color: #ffffff;
}

.services__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.services__info_img {
    height: 85px;
    margin-bottom: 28px;
}

.services__info_title {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -0.35px;
    color: #444446;
}

.services__info_text {
    margin-bottom: 16px;
    text-align: left;
    font-size: 18px;
    line-height: 1.78;
    color: #444446;
}

.cervices__info_btn {
    display: block;
    padding: 14px;
}

.how-it-works {
    padding: 56px 0 100px;
    background-color: #fbfcfd;
}

.how-it-works__video {
    width: 698px;
    height: 392px;
}

.partners {
    position: relative;
    padding: 71px 0 112px;
    background-color: #f5f5f5;
}

.partners:before {
    content: "";
    display: block;
    position: absolute;
    width: 72px;
    height: 72px;
    margin-left: -36px;
    top: -36px;
    left: 50%;
    background-image: url('../img/canada.png');
    background-size: 100%;
    
}

.partners__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners_img {
    width: 206px;
    padding: 15px;
}

.try-now {
    padding: 110px 0 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfcfd;
}

.try-now__text {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 1.63;
    color: #444446;
}

.try-now__btn {
    width: 180px;
    display: inline-block;
    padding: 10px 0;
}

.footer {
    padding: 40px 0 29px;
    background-color: #0c5f7c;
    color: #ffffff;
    text-align: left;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__list {
    display: flex;
}

.footer__list ul {
    margin-right: 153px;
}

.footer__list ul:last-child {
    margin-right: 50px;
}

.footer__list ul li:not(:last-child) {
    margin-bottom: 14px;
}

.footer__list a {
    color: #ffffff;
}

.footer__list a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer__logo-block {
    display: flex;
}

.footer__logo {
    width: 84px;
    margin-right: 10px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__number,
.footer__email {
    color: #ffffff;
    font-size: 14px;
}

.footer-hr {
    height: 1px;
    margin: 24px 0 20px;
    opacity: 0.25;
    border-top: solid 1px #7bafc1;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright__text {
    font-size: 12px;
    line-height: 1.42;
    color: #7bafc1;
}

.copyright__social-img {
    width: 20px;
}

.copyright__social a:not(:first-child) {
    margin-left: 20px;
}

/* ---------------MAIN MEDIA-------------- */

@media screen and (max-width: 1300px) {
    .container {
        margin: 0 15px;
    }
    .main__title {
        font-size: 44px;
    }
    .services__info {
        justify-content: space-around;
    }
    .footer__list ul {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1045px) {
    .header {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header__menu {
        margin: 0 auto;
        order: 1;
    }
    .footer__list ul {
        margin-right: 50px;
    }
    .footer__list ul:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .header__list {
        font-size: 14px;
    }
    .footer__wrap {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer__logo-block {
        margin-right: 104px;
        flex-direction: column;   
    }
    .footer__info {
        margin-top: 20px;
    }
    .footer__list {
        flex-direction: column;
    }
    .footer__list ul {
        margin: 14px 0 0;
    }
}

@media screen and (max-width: 730px) {
    .how-it-works__video {
        width: 100%;
        height: auto;
    }
    .header__list li:not(:first-child) {
        margin-left: 16px;
    }
}

@media screen and (max-width: 700px) {
    .services__info {
        display: block;
    }
    .services__info_wrap {
        width: 100%;
        margin: 15px 0;
    }
    .cervices__info_btn {
        width: 180px;
        margin: 0 auto;
    }
    .section__title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .partners {
        padding-bottom: 70px;
    }
    .try-now {
        padding-top: 70px;
    }
    .partners:before {
        width: 38px;
        height: 38px;
        margin-left: -19px;
        top: -19px;
    }
}

@media screen and (max-width: 690px) {
    .header__menu {
        display: none;
    }
    .header__select {
        margin: 0 40px 0 0;
    }
    .header__owner-menu {
        margin: 0 60px 0 0;
    }
    .header__icon-burger,
    .mobile-menu-block {
        display: block;
    }
}

@media screen and (min-width: 690px) {
    .header__icon-burger,
    .mobile-menu-block {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .main__title {
        font-size: 34px;
    }
    .main__description {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .footer__list {
        margin-top: 50px;
    }
}

@media screen and (max-width: 550px) {
    .partners__images {
        justify-content: center;
    }
    .cervices__info_btn {
        width: 100%;
        margin: 0;
    }
    .copyright {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .header__owner-greeting {
        display: none;
    }
    .partners__images {
        justify-content: center;
    }
    .cervices__info_btn {
        width: 100%;
        margin: 0;
    }
    .copyright__social,
    .footer__info {
        margin-top: 20px;
    }
}

/* --------------SIGN-IN PAGE------------- */

.sign-in-bg {
    background-image: url("../img/building.png");
}

.sign-in {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.36);
}

.sign-in__block {
    width: 640px;
    padding: 40px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.sign-in__img {
    width: 150px;
    height: 75px;
    margin-bottom: 32px;
}

.sign-in__form {
    width: 420px;
}

.beta {
    margin: 5px 0 15px;
    font-size: 12px;
    color: #7e7e7e;
}

.sign-in__label {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 2;
    color: #444446;
}

.label-link {
    float: right;
    font-size: 14px;
    line-height: 2;
    color: #0c5f7c;
}

.label-link:hover {
    color: #208EB4;
    text-decoration: underline;
}

.sign-in__input {
    width: 420px;
    height: 44px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #444446;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.btn-submit {
    width: 120px;
    display: block;
    margin: 8px auto 0;
    padding: 14px 0 10px;
}

.sign-in__copyright {
    font-size: 12px;
    line-height: 1.42;
    color: #ffffff;
}

@media screen and (max-width: 660px){
    .sign-in__block {
        width: 100%;
    }
}

@media screen and (max-width: 440px){
    .sign-in__block {
        padding: 40px 15px;
    }
    .sign-in__form,
    .sign-in__input {
        width: 100%;
    }
}

/* ---------------SIGN UP PAGE-------------- */

.sign-up {
    background-color: #f7f8f9;
}

.sign-up__block {
    max-width: 720px;
    margin: 0 auto;
    padding: 30px 0 63px;
}

.sign-up__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 24px;
}

.sign-up__logo {
    width: 120px;
    height: 60px;
    margin-bottom: 5px;
}

.sign-up__beta {
    margin-bottom: 24px;
    font-size: 10px;
    color: #7e7e7e;
 }

.sign-up__title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #444446;
}

.sign-up__question {
    font-size: 16px;
    line-height: 1.69;
    color: #7e7e7e;
}

.sign-up__link-in {
    color: #0c5f7c;
}

.sign-up__link-in:hover {
    color: #208EB4;
    text-decoration: underline;
}

.sign-up__main {
    padding: 24px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 2px 1px -1px rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.sign-up__form {
    text-align: left;
}

.condo-data {
    margin-bottom: 16px;
    font-size: 19px;
    font-weight: 500;
    color: #444446;
}

.condo-block {
    margin-bottom: 8px;
}

.input-max-width {
    width: 100%;  
}

.website-block,
.choose-logo-block {
    margin-bottom: 10px;
}

.sign-up-copyright {
    margin-top: 24px;
    font-size: 12px;
    line-height: 1.42;
    color: #7e7e7e;
}

/* -------------Sign up form style------------- */

.sing-up__label {
    display: block;
    font-size: 16px;
    line-height: 1.75;
    color: #444446;
}

.sing-up__input {
    height: 44px;
    margin-bottom: 3px;
    padding-left: 10px;
    border: 1px solid #444446;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.sign-up__select {
    width: 323px;
    height: 44px;
    margin-bottom: 3px;
    padding: 0 10px ;
    border: 1px solid #444446;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    cursor: pointer;
    background: url("../img/select-arrow.png") no-repeat 96% 50%;
    -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none!important;
}

.choose-label-style {
    display: inline-block;
    margin-bottom: 8px;
    padding: 10px 22px;
    border-radius: 3px;
    border: solid 1px #8f94a1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.31px;
    color: #444446;
    cursor: pointer;
}

.choose-disabled-style {
    color: #9b9b9b;
    border: solid 1px #d4d5d9;
    background-color: #f9f9f9;
}

.choose-hide-input {
    display: none;
}

.choose-logo__text {
    font-size: 12px;
    line-height: 1.33;
    color: #9b9b9b;
}

.sign-up__submit {
    display: block;
    margin: 0 auto;
    padding: 12px 24px 10px;
}

/* --------------checkbox-style-------------- */

.checkbox-block {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sing-up__checkbox-label {
    margin-left: 47px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #444446;
    cursor: pointer;
}
  
.sing-up__checkbox-label:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -44px;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #5a5a5a;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
  
.sing-up__checkbox-input[type="checkbox"] {
    display: none;
}
  
.sing-up__checkbox-input[type="checkbox"]:checked ~ .sing-up__checkbox-label:before {
    width: 21px;
    height: 10px;
    border-color: #ff7423;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}

.sing-up__checkbox-label a {
    font-weight: 500;
    color: #0c5f7c;
}

.sing-up__checkbox-label a:hover {
    text-decoration: underline;
    color:  #208EB4;
}

/* ------------radio-style------------ */

.position-block {
    display: flex;
    margin-bottom: 15px;
}

.position-block > div {
    padding: 14px 20px 14px 33px;
}

.position-block > div:first-child {
    padding-right: 30px;
}

.position-block > div:last-child {
    padding-right: 0;
}

.input-radio-style {
    display: none;
}

.input-radio-style:checked ~ .label-radio-style:after {
    transform: scale(1.1);
}

.label-radio-style {
    position: relative;
    font-size: 14px;
    line-height: 1.43;
    color: #303952;
    cursor: pointer;
}

.label-radio-style:before,
.label-radio-style:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -31px;
    border-radius: 50%;
}

.label-radio-style:before {
    width: 17px;
    height: 17px;
    border: solid 2px #ff7423;
}

.label-radio-style:after {
    width: 9px;
    height: 9px;
    top: 4px;
    left: -25px;
    background-color: #ff7423;
    transition-duration: 0.28s;
    transition-property: transform;
    transform: scale(0);
}

/* -----------required-style------------- */

.required-symbol {
    color: #d0021b;
    font-weight: 500;
}

.required-input {
    border-color: #d0021b;
}

.required-text {
    visibility: visible;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.1px;
    color: #eb4c4c;
}

.maximum-upload-file{
    visibility: visible;
    font-size: 12px;
    line-height: 1.33;
    color: #eb4c4c;
}

/* -------------------------------------------- */

@media screen and (max-width: 550px){
    .checkbox-block {
        display: flex;
    }
}

/* ----------------OWNER-TENANT-PAGE---------------- */

.tenant-wrap {
    text-align: left;
    background-color: #f7f8f9;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.tenant-container-style {
    padding-bottom: 61px;
}

.tenant__beta {
    padding-top: 5px;
    font-size: 10px;
    color: #7e7e7e;
}

.tenant-block-style {
    margin-top: 16px;
    padding: 16px 24px 24px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 2px 1px -1px rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.tenant-block__header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.tenant-block__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #444446;
}

.tenant-block__btn {
    padding: 14px 28px;
}

.tenant-block__layout {
    width: 100%;
    min-height: 500px;
    border-radius: 2px;
    background: url("../img/tender.svg") 50% 50% no-repeat;
    background-size: auto 150px;
    background-color: #f5f5f5;
}

@media screen and (max-width: 550px){
    .tenant-block__header {
        flex-wrap: wrap;
    }
    .tenant-block__text {
        margin-bottom: 20px;
    }
}